[submodule "vempiros"]
	path = vempiros
	url = git@github.com:jskd/vempiros.git
[submodule "osm-render"]
	path = osm-render
	url = git@github.com:jskd/osm-render.git
[submodule "EyeSat-SpaceCamera"]
	path = EyeSat-SpaceCamera
	url = git@github.com:jskd/EyeSat-SpaceCamera.git
[submodule "lc-3"]
	path = lc-3
	url = git@github.com:jskd/lc-3.git
[submodule "conduit"]
	path = conduit
	url = git@github.com:jskd/conduit.git
[submodule "collection-jeu"]
	path = collection-jeu
	url = git@github.com:jskd/collection-jeu.git
[submodule "jeu-cartes-memoire"]
	path = jeu-cartes-memoire
	url = git@github.com:jskd/jeu-cartes-memoire.git
[submodule "experimentation-symfony"]
	path = experimentation-symfony
	url = git@github.com:jskd/experimentation-symfony.git
[submodule "robot-lego-suiveur-de-ligne"]
	path = robot-lego-suiveur-de-ligne
	url = git@github.com:jskd/robot-lego-suiveur-de-ligne.git
[submodule "portfolio"]
	path = portfolio
	url = git@github.com:jskd/portfolio.git
