[submodule "vempiros"]
	path = vempiros
	url = git@github.com:jskd/vempiros.git
[submodule "osm-render"]
	path = osm-render
	url = git@github.com:jskd/osm-render.git
[submodule "EyeSat-SpaceCamera"]
	path = EyeSat-SpaceCamera
	url = git@github.com:jskd/EyeSat-SpaceCamera.git
